In [8]:
a = [True, True , True, True]

In [9]:
all(a)

True

In [10]:
any(a)

True

In [6]:
b = [True, False, False, False]

In [7]:
any(b)

True

In [12]:
all(b)

False

In [13]:
import pandas as pd
import seaborn as sns

In [14]:
titanic = sns.load_dataset('Titanic')

In [16]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB

In [21]:
all(titanic['pclass'].isnull())

False

In [23]:
any(titanic['age'].isnull())

True

In [24]:
3>5

False

In [26]:
with open(r"E:\Besant Python 2\new_text_for_file_handling.txt") as f:
    print(f.read())

This is my file.

In [28]:
from zipfile import ZipFile

with ZipFile("E:\Besant Python 2\Compressed.zip") as f:
    f.extractall()

In [29]:
import os
os.getcwd()

'E:\\Besant Python 2'