## Conditional Statements

In [1]:
list1 = [1,2,3,4,5]

In [4]:
5 in list1

True

In [7]:
if 3>2:
    print('Statement is True.')
    print('This is statement 2.')

Statement is True.
This is statement 2

In [8]:
if 1>2:
    print('Statement is True.')
elif 3>2:
    print('This is the elif block')

This is the elif block

In [14]:
if 6 in list1:
    print('yes')
elif 7 in list1:
    print('5')
elif 8 in list1:
    print('3')
else:
    print('Nothing mentioned was in list1.')

Nothing mentioned was in list1.

In [16]:
if 7<8:print('Yes, its True')

Yes, its True

In [17]:
if not 7>8:
    print('This is for the not keyword.')

This is for the not keyword.

In [20]:
0 if 3>2 else 1

0

In [23]:
x = 1000
y = 10000

In [24]:
if x>y:
    print('x is greater than y')
else:
    print('y is greater')

y is greater

In [25]:
name = 'John'
age = 28

In [31]:
'Hey there, I am {}, I am {} years old.'.format('Naveen', age)

'Hey there, I am Naveen, I am 28 years old.'

In [37]:
a = int(input('This is the input Value for a : '))

This is the input Value for a : 10

In [38]:
a

10

In [42]:
name = input('Enter your Name:')

Enter your Name:Naveen

In [43]:
name

'Naveen'

In [46]:
Password = input('Enter Password: ')

if Password == 'John':
    print('Your are authorized.')

else:
    print('Not Authorized.')

Enter Password: John
Your are authorized.

## Loops

In [1]:
list1 = [1,2,3,4,5]

In [3]:
1 in list1

True

In [4]:
for x in list1:
    print(x)

1
2
3
4
5

In [6]:
fruits = ['apple', 'banana', 'grapes', 'orange']

In [7]:
for item in fruits:
    print(item)

apple
banana
grapes
orange

In [9]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
x = []

for i in range(0,11):
    x.append(i)

In [23]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
list1.append('a')

In [14]:
list1

[1, 2, 3, 4, 5, 'a']

In [15]:
list1.pop()

'a'

In [16]:
list1

[1, 2, 3, 4, 5]

In [19]:
del list1[2]

In [20]:
list1

[1, 2, 4, 5]

In [27]:
y = []

for i in x:
    z = i+1
    y.append(z)

In [28]:
y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [29]:
sentence = 'Hello, I am John'

In [30]:
print(sentence)

Hello, I am John

In [31]:
sentence.split()

['Hello,', 'I', 'am', 'John']

In [33]:
x = 'The world is spherical'.split()

In [35]:
for i in x:
    print(i)

The
world
is
spherical

In [47]:
words = 'I love dogs dogs are cute do you like dogs'

In [48]:
words

'I love dogs dogs are cute do you like dogs'

In [49]:
words.split()

['I', 'love', 'dogs', 'dogs', 'are', 'cute', 'do', 'you', 'like', 'dogs']

In [50]:
i = 0

for word in words.split():
    if word == 'dogs':
        i = i + 1
        
print(i)

3

### While loop

In [53]:
i = 0

while i <= 5:
    i = i + 1
    print(i)

1
2
3
4
5
6